
@{
    Layout = null;
}

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Proje Kampı - Kategori </h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Dizi</td>
        <td>Dizi açıklaması</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Film</td>
        <td>Film açıklaması</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Kitap açıklaması</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Yazılım</td>
        <td>Yazılım açıklaması</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>

<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-default">Kategori Listesi</button>
<button class="btn btn-warning">Kategori Açıklamaları</button>
